<a href="https://colab.research.google.com/github/om0401/Assinments/blob/main/Hypothesis_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **QUESTION NO. 1**

A F and B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [2]:
df.rename(columns={"Unit A":"unit_a","Unit B":"unit_b"},inplace=True)
df.head()

   unit_a  unit_b
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
df.describe()

          unit_a     unit_b
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

As per given question we have to find out the significance diffrence between two unit at 5% of level of significance 
Hence we will use two sample t test.

In [4]:
#Therefore,
H0="There is no significance diffrece"
H1="There is significance diffrence "
alpha=0.05

In [5]:
_,p_value=sts.ttest_ind(df["unit_a"],df["unit_b"])

In [6]:
if p_value<alpha:
  print("We reject null hypothesis and conclude that",H1)
else:
  print("We accept null hypothesis and conclude that",H0)

We accept null hypothesis and conclude that There is no significance diffrece

Hence we say there is no dffrence between dimeter two unit of cutlet.

# **QUESTION 2**

A hospital wants to determine whether there is any
difference in the average Turn Around Time (TAT) of reports
of the laboratories on their preferred list. They collected a
random sample and recorded TAT for reports of 4
laboratories. TAT is defined as sample collected to report
dispatch.
Analyze the data and determine whether there is any
difference in average TAT among the different laboratories
at 5% significance level.

*As we have to find Avg. TAT among the diffrence laboratories at 5% significance.
There are 4 catogarical value and continuous data set and we have to find out avg diffrence...
Hence we will use one way ANOVA TEST  *italicized text*

In [7]:
df2=pd.read_csv("LabTAT.csv")
df2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [8]:
df2.rename(columns={"Laboratory 1":"lab_1","Laboratory 2":"lab_2","Laboratory 3":"lab_3","Laboratory 4":"lab_4"},inplace=True)
df2.describe()

            lab_1       lab_2       lab_3      lab_4
count  120.000000  120.000000  120.000000  120.00000
mean   178.361583  178.902917  199.913250  163.68275
std     13.173594   14.957114   16.539033   15.08508
min    138.300000  140.550000  159.690000  124.06000
25%    170.335000  168.025000  188.232500  154.05000
50%    178.530000  178.870000  199.805000  164.42500
75%    186.535000  189.112500  211.332500  172.88250
max    216.390000  217.860000  238.700000  205.18000

In [9]:
df2.shape

(120, 4)

In [10]:
alpha=0.05
#Therefore,
H0="There is no significance diffrece"
H1="There is significance diffrence "
df2_Ag=df2.shape[1]-1   #degree of freedom among groups = k-1
df2_Wg=(df2.shape[0]*df2.shape[1])-df2.shape[1]     #degree of freedom within group = N-k

In [11]:
F_calculated,_=sts.f_oneway(df2["lab_1"],df2["lab_2"],df2["lab_3"],df2["lab_4"])
F_calculated

118.70421654401437

In [12]:
F_critical=sts.f.ppf(q=1-alpha,dfn=df2_Ag ,dfd=df2_Wg )
F_critical

2.6236374659506096

In [13]:
if F_calculated>F_critical:
  print("We reject null hypothesis and conclude that",H1)
else:
  print("We accept null hypothesis and conclude that",H0)

We reject null hypothesis and conclude that There is significance diffrence

Hence we can say there is diffrence between all TAT lab result

# **Question 3**

Sales of products in four different regions is tabulated for males and females.
Find if male-female buyer rations are similar across regions.

East West North South;

Males 50 142 131 70;

Females 550 351 480 350;

***AS shown in data we have two catogrical data gender and direction we will use chi-square test***

alpha=0.05

In [14]:
df3=pd.read_csv("BuyerRatio.csv",header=None)
df3.head()

                 0     1     2      3      4
0  Observed Values  East  West  North  South
1            Males    50   142    131     70
2          Females   435  1523   1356    750

In [15]:
from scipy.stats import chi2_contingency
Ha="All proprtions are equal"
Hb="Not all proprtions are equal"

In [16]:
observed_value=df3.iloc[1:,1:]
observed_value.dtypes

1    object
2    object
3    object
4    object
dtype: object

In [17]:
o_v=observed_value.values.astype(int)

In [18]:
chi2_calculated,p,d_f,ex=chi2_contingency(o_v)
(chi2_calculated,p)

(1.595945538661058, 0.6603094907091882)

In [19]:
chi2_tab=sts.chi2.ppf(q=1-alpha, df=d_f)
chi2_tab

7.814727903251179

In [20]:
if chi2_calculated>chi2_tab:
   print("We reject null hypothesis and conclude that",Ha)
else:
  print("We accept null hypothesis and conclude that",Hb)

We accept null hypothesis and conclude that Not all proprtions are equal

In [21]:
if p<alpha:
   print("We reject null hypothesis and conclude that",Ha)
else:
  print("We accept null hypothesis and conclude that",Hb)

We accept null hypothesis and conclude that Not all proprtions are equal

*Hence we can say that male-female buyer rations are not similar across regions.*

# **Question 4**

TeleCall uses 4 centers around the globe to process
customer order forms. They audit a certain % of the
customer order forms. Any error in order form
renders it defective and has to be reworked before
processing. The manager wants to check whether
the defective % varies by centre. Please analyze the
data at 5% significance level and help the manager
draw appropriate inferences

In [22]:
df4=pd.read_csv("Costomer+OrderForm.csv")
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [23]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [24]:
x=pd.DataFrame(df4["Phillippines"].value_counts() )
y=pd.DataFrame(df4["Indonesia"].value_counts())
z=pd.DataFrame(df4["Malta"].value_counts())
w=pd.DataFrame(df4["Malta"].value_counts())

In [25]:
concatenated = pd.concat([x,y,z,w], axis=1)
concatenated

            Phillippines  Indonesia  Malta  Malta
Error Free           271        267    269    269
Defective             29         33     31     31

In [26]:
chi_2_calculated,p_val,d_f2,ex2=chi2_contingency(concatenated)
(chi_2_calculated,p_val)

(0.2878042930807051, 0.9623056043405367)

In [27]:
chi_2_tab=sts.chi2.ppf(q=1-alpha, df=d_f2)
chi_2_tab

7.814727903251179

In [28]:
if chi_2_calculated>chi_2_tab:
   print("We reject null hypothesis and conclude that",H0)
else:
  print("We accept null hypothesis and conclude that",H1)

We accept null hypothesis and conclude that There is significance diffrence

In [29]:
if p_val<alpha:
   print("We reject null hypothesis and conclude that",H1)
else:
  print("We accept null hypothesis and conclude that",H0)

We accept null hypothesis and conclude that There is no significance diffrece

H0=DEFECTIVE % OF ALL COUNTRIES ARE EQUAL

H1=DEFECTIVE % OF ALL COUNTRIES ARE NOT EQUAL

*Hence we can say that there is percentage of defective in all country is same there no need to take action*

**Question 4 using anova**

H0= Defective % not Varies by centre

H1= Defective Percentage varies by Centre

In [30]:
x={"Error Free":1, "Defective":0}
form=df4.replace(x)
form.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [45]:
from scipy.stats.stats import f_oneway
f_cal,_=f_oneway(form.iloc[:,0], form.iloc[:,1], form.iloc[:,2], form.iloc[:,3])

In [41]:
f_critical=sts.f.ppf(q=1-0.05, dfn=3, dfd=1196)
f_critical

2.6123434645055075

In [46]:
if f_cal>f_critical:
  print("We reject null hypothesis and conclude that","Defective %  Varies by centre")
else:
  print("We accept null hypothesis and conclude that","Defective % not Varies by centre")

We accept null hypothesis and conclude that Defective % not Varies by centre